---
import { IMetaHead } from '@types';
import { info } from '@data';

const { title, description } = Astro.props as IMetaHead;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
{title && <title>{`${title} - ${info.name}`}</title>}
{title && <meta name="title" content={`${title} - ${info.name}`} />}
{description && <meta name="description" content={description} />}

<meta
  name="keywords"
  content="Manuel Gil, portafolio, software developer, TypeScript, Angular, Nestjs, Go, Java, PHP, competitive programming, programación, trabajo en equipo, resolución de problemas, tecnología, Open Source, desarrollo de software, solución de problemas, nuevas tecnologías, metodologías, crecimiento profesional, soluciones tecnológicas"
/>
<meta
  name="news_keywords"
  content="Manuel Gil, portafolio, software developer, TypeScript, Angular, Nestjs, Go, Java, PHP, competitive programming, programación, trabajo en equipo, resolución de problemas, tecnología, Open Source, desarrollo de software, solución de problemas, nuevas tecnologías, metodologías, crecimiento profesional, soluciones tecnológicas"
/>

<meta name="author" content="Manuel Gil" />

<meta property="og:type" content="website" />
<meta property="og:title" content="Portafolio - Manuel Gil" />
<meta property="og:description" content={description} />
<meta property="og:url" content="https://manuelgil.me/" />
<meta property="og:image" content="/assets/images/profile.png" />
<meta property="og:site_name" content="Portafolio - Manuel Gil" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@imgildev" />
<meta name="twitter:title" content="Portafolio - Manuel Gil" />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="/assets/images/profile.png" />

<link rel="canonical" href="https://manuelgil.me/" />

<meta name="robots" content="index" />

<!-- preload assests -->
<link
  rel="preload"
  href="/assets/fonts/Inter/Inter-Light.ttf"
  as="font"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/Outfit/Outfit-SemiBold.ttf"
  as="font"
  crossorigin
/>
